<!-- Para form reactivos, se deben crear los objetos FormControl en el codigo explicitamente -->
<!-- En forms reactivos no se usan atributos HTML aqui sino que asignamos validators cuando se crean objetos FormControl -->
<!-- Para nested FormGroups se necesita un div que contenga el FormGroup a usar, y dentro cada FormGroup individual -->

<form [formGroup]="form" (ngSubmit)="login()"> <!-- Cuando queremos validar la info completa al presionar submit, y no mientras escribimos cada campo isaoladamente, por ej para un inicio de sesion: Tomamos la info, la enviamos al servidor, validamos y retornamos respuesta-->
    <div *ngIf="form.errors" class="alert alert-danger">
        The username or password is invalid
    </div>
    <!--Este seria el div a usar si quisieramos usar nestedFormGroups
    <div formGroupName="account">
        <div class="form-group">
            <label for="username">Username</label>
            <input 
                formControlName="username"
                id="username" 
                type="text" 
                class="form-control">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input 
            formControlName="password"
                id="password" 
                type="text" 
                class="form-control">
        </div>     
    </div>-->
    <div class="form-group">
        <label for="username">Username</label>
        <input 
            formControlName="username"
            id="username" 
            type="text" 
            class="form-control">
        <div *ngIf="username?.pending">Checking for uniquenes...</div> <!-- FormControls tienen una propiedad "pending" que retorna true si al menos un validador asincrono esta en progreso-->
        <div *ngIf="username?.touched && username?.invalid" class="alert alert-danger">
            <div *ngIf="username?.errors?.['required']">Username is required</div>
            <div *ngIf="username?.errors?.['minlength']">Username should be minimum {{ username?.errors?.['minlength'].requiredLength }} characters</div>
            <div *ngIf="username?.errors?.['cannotContainSpaces']">Username cannot contain spaces</div>
            <div *ngIf="username?.errors?.['shouldBeUnique']">Username is already taken. Time and username setted in code to 2 secs and 'carlos'</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input 
        formControlName="password"
            id="password" 
            type="text" 
            class="form-control">
    </div>
    <button class="btn btn-primary" type="submit">Sign Up</button>
</form>