<!-- La clase form-control me permite agregar validaciones a cada campo. Para cada field se necesita una instancia de la clase FormControl, como:
        - value - almacenado
        - touched
        - untouched
        - dirty - si cambió
        - pristine - si no cambio
        - valid - si es valido o no
        - errors - errores a arrojar
    La clase form-group representa un grupo de control en un formulario. Todas las validaciones anteriores tambien estan disponibles para el FormGroup
    Hay dos formas de crear controles en el form. Uno es aplicando directivas y Angular creará las validaciones tras bambalinas -> Template-driven forms
    La segunda manera implica crear estos controles explicitamente: Escribir codigo en los componentes para crear nuevas instancias de grupos de control y objetos de control -> Reactive forms
    Reactive se tiene mas control sobre la logica de validacion, buenos para formularios completos y se pueden testear con pruebas unitarias
    Template-driven son mejores para formularios simples, validaciones simples, mas faciles de crear y con menos codigo, pero tambien menos control en la validacion -->
<form #f="ngForm" (ngSubmit)="submit(f)"> <!-- Angular aplica por defecto la directiva ngForm. Con la variable f, hacemos apuntar la variable hacia el objeto ngForm -->
    <div ngModelGroup="contact" #contact="ngModelGroup"> <!-- ngModelGroup para trabajar con objetos mas complejos del fomrulario, el #contact permite hacer referencia al ngModelGroup y es util si se quiere validar un grupo en conjunto (billing details y desplegar todos los errores de ese grupo arriba). A diferencia de ngForm, ngModel no tiene campo submit -->
        <div *ngIf="!contact.valid">Cheking entire group</div> <!-- Valida el grupo entero -->
        <div class="form-group">
            <label for="firstName">First name</label>
            <input required minlength="3" maxlength="10" pattern="[A-Za-z0-9]+" ngModel name="firstName" id="firstName" #firstName="ngModel" type="text" class="form-control" (change)="log(firstName)"> <!-- Cuando se aplica ngModel sin two way binding syntax [()], Angular va a crear un objeto de control asociado con este campo. Debe ir con el name para que angular cree una instancia de FormControl y la asocie con el inputfield. Valida tambien longitud minima, maxima y patron de solo letras y numeros-->
            <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid"> <!-- Usa la variable #firstName (#) que esta haciendo referencia al objeto ngModel. El required de la linea de arriba revisa que haya algo en el campo y el valid de esta linea valida eso. Solo renderiza si se cumple en ngIf. -->
                <div *ngIf="firstName.errors?.['required']">First name is required</div> <!-- si existe este error, renderiza el mensaje -->
                <div *ngIf="firstName.errors?.['minlength']">First name should be minimun {{firstName.errors?.['minlength'].requiredLength}} characters and you typed {{firstName.errors?.['minlength'].actualLength}} of them</div> <!-- No se necesita maxlength porque no deja pasar de 10 caracteres -->
                <div *ngIf="firstName.errors?.['pattern']">You are only able to use letters and numbers</div> <!-- si existe el error, renderiza el mensaje -->
            </div> 
        </div>
    </div>
    <div class="form-group">
        <label for="comment">Comment</label>
        <textarea ngModel name="comment" id="comment" cols="30" rows="10" class="form-control"></textarea>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ngModel name="isSubscribed"> Subscribe to mailing list
        </label>
    </div>
    <div class="form-group">
        <label for="contactMethod">Contact Method</label>
        <select multiple ngModel name="contactMethod" id="contactMethod" class="form-control"> <!-- En vez de usar muchos option dentro del select, se itera sobre el objeto que tenga la info que se necesita. Multiple deja elegir varias opciones y value envia un array con los id seleccionados, si se quita solo deja elegir una opcion-->
            <option value=""></option> <!-- La primera vez, aparece seleccionado uno por default, y en el form no aparece nada, hay que dar un campo vacio y forzar al usuario a seleccionar alguna opcion -->
            <option *ngFor="let method of contactMethods" [value]="method.id" [ngValue]="method"> {{ method.name }} </option> <!-- value solo recibe strings, si queremos enviar toda la info, un objeto mas complejo, podemos usar [ngValue] y pasar el objeto complejo -->
        </select>
    </div>
    <div *ngFor="let gender of gendersFromServer" class="radio">
        <label for="">
            <input ngModel type="radio" name="gender" [value]="gender.id">
            {{ gender.name }}
        </label>
    </div>
    <p>
        {{ f.value | json }} <!-- con este pipeline podemos ver el objeto que se esta enviando en el form, se puede usar con propositos de debug. Funciona dinamicamente -->
    </p>
    <button class="btn btn-primary" [disabled]="!f.valid">Submit</button> <!-- Deshabilitar el boton para que no funcione cuando se renderiza la pag por primera vez -->
</form>
