<h1>Angular</h1>
<!--Cuando angular ve este elemento, renderiza el template relacionado en el Component-->
<courses></courses>
<!-- Input y Output properties sobre un componente que definen un Component API para hacerlo mas reusable -->
<!-- <app-star [is-favorite]="post.isFavorite" (change)="onStarChanged($event)"></app-star> -->
<app-star [is-favorite]="post.isFavorite" (change)="onStarChanged($event)"></app-star>
<app-like [likes-count]="tweet.likesCount" [is-active]="tweet.isLiked"></app-like>
<app-capitalize></app-capitalize>
<bootstrap-panel>
    <!-- <div class="header">Heading</div> -->
    <ng-container class="header">Heading</ng-container> <!-- Si reemplazamos div por ng-container, en tiempo de ejecucion, solo inyecta el texto y no la clase a donde se este llamando este div-->
    <div class="body">
        <h2>Body</h2>
        <p>Some content here...</p>
    </div>
</bootstrap-panel>
<app-authors></app-authors>

<!-- Directivas nos ayudan a modificar el DOM, existen estructurales y de atributos -->
<!-- Este va a ser estructual porque va a agregar o remover un elemento del DOM, a estas se les antepone el asterisco. Puede ser un metodo que evalue la condicion tambien -->
<!-- Enfoque antes de Angular 4 -->
<p>Enfoque < Angular4</p>
<div *ngIf="courses.length > 0">
    List of courses
</div>
<div *ngIf="courses.length <= 0">
    No courses yet
</div>

<!-- A partir de Angular V -->
<p>A partir de Angular 4</p>
<div *ngIf="courses.length > 0; else noCourses">
    List of courses
</div>
<ng-template #noCourses>
    No courses yet
</ng-template>

<p>Otra opcion Angular4+</p>
<div *ngIf="courses.length > 0; then coursesList else noCourses">
    List of courses
</div>
<ng-template #coursesList>
    List of courses
</ng-template>
<ng-template #noCourses>
    No courses yet
</ng-template>

<!-- Con hidden attributes. Ambos elementos existen en el DOM, pero son hidden de acuerdo a la condicion, en la directiva ngIf solo existe el que cumpla con la condicion -->
<p>Con hidden attributes</p>
<div [hidden]="courses.length == 0">
    List of courses
</div>
<div [hidden]="courses.length > 0">
    No courses yet
</div>

<!-- ngSwitchCase -->
<p>ngSwitchCase example...</p>
<ul class="nav nav-pills">
    <li class="nav-item"><a class="nav-link" [class.active]="viewMode == 'map'" (click)="viewMode = 'map'">Map view</a></li>
    <li class="nav-item"><a class="nav-link" [class.active]="viewMode == 'list'"  (click)="viewMode = 'list'">List view</a></li>
    <li class="nav-item"><a class="nav-link" [class.active]="viewMode == 'cards'"  (click)="viewMode = 'cards'">Cards view</a></li>
</ul>

<div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'map'">Map view content</div>
    <div *ngSwitchCase="'list'">List view content</div>
    <div *ngSwitchCase="'cards'">Some other view content</div>
    <div *ngSwitchDefault>Otherwise</div>
</div>